/* Assignment 02 CSS File */

/*
Author: Efthaqur Alam
*/

/*=========================================*/
/*Adding Tailwindcss*/
/* @import "tailwindcss"; */
/* Adding Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=shopping_cart_checkout');
/*Roboto*/
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.roboto-font-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*Noto Serif */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Inter */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 200,
  'opsz' 2
}
/*Color Code*/
.orange {
    color: #E95A08;
}
/*=========================================*/
/* Header Section CSS */
.header{
    margin:0 auto;
}

/* Nav Section*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    max-height: 71px;
    margin: 30px auto;
}
.logo {

}

.nav-links {
    display: flex;
    list-style: none;
    
}
.nav-item {
    margin-right: 30px;
    
}
.nav-link {
    text-decoration: none;
}


/* Hero */
.hero{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 150px auto;
}
.hero-textbox {
    display: block;
    margin-top: auto;
}
.hero-header{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
}
.hero-text{
    color: gray;
    font-size: 1.38rem;
    
}
.hero-img{
    width: 100%;
}


/*Main Section*/
.content{   
    max-width: 1140px;
    margin:0px auto;

}

/*Product Section */
.products-card-heading {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
}

.products-card-des{
    color: gray;
    font-size: 1.38rem;
    text-align: center;
    padding: 0px 120px 0px 120px;
}

.products-card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-img {
    width: 100%;
    border-radius: 5%;
}

.product-title{
    text-align: center;
}

.product-price{
    text-align: center;
    font-weight: bold;
}

.addtocart{
    background-color: #E95A08;
    width: 100%;
    padding:10px 10px 10px 10px;
    color: antiquewhite;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3%;
}
/* Cert Section*/
.cert {
    max-width: 1140px;
    margin:200px auto;
    display: flex;
    flex-wrap: wrap;
}
.cert-img{
    width:50%;
}
.cert-trust-logo{
    position:relative;
    height: 40%;
    width: 30%;
    top: -150px;
    left: -180px;
}

.cert-des{
    display: block;
}

/*Deal section*/
.deals{
    max-width: 1140px;
    margin:0 auto;
}

.deal-img-container{

   
}
.deal-offer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.offer-box1{
    display: flex;
    flex-direction: column;
    gap: 10px;  
}

.offer-box1-text{
    position: relative;
    bottom: 25%;
    left: 25%;  
}
.offer-img {
    width: 100%;
    border-radius: 5%;
}
    
  
    

/*Footer Section */
.newsletter{
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 1440px;
    height: 70vh;
    margin:0px auto;
}

.newsletter-img{
    width: 100%;
    
}

.newsletter-text{
  

}

.newsletter-heading{
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    padding-top: 10%;
}

.newsletter-form{
    text-align: center;
    
}
.newsletter-input{
    width: 40%;
    height: 30px;
}
.btn{
    background-color: #E95A08;
    color: white;
    height: 30px;

}

.footer-items{
    max-width: 1140px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-logo{
    width: 35%;
}
.foot-note {
    color: gray;
    font-weight: 500;
   
}

.footer-links a{
    display: block;
    text-decoration: none;
    color: gray;
    padding: 10px;
    margin-left:100px;
}

.footer-icons a{
     padding: 10px;
    
}



